@media all and (max-width: 670px) {
  .header-right{
    display:none;
  }
  .menu-icon{
    display:block !important;
    margin-right: 30px;
  }

}

/* NOTE: INI PROFIL BOX */
@media (max-width: 1000px) {
  .daftar {
    display: flex;
    flex-wrap: wrap;
  }

  .kotak {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }
}

@media (max-width: 670px) {
  .list {
    margin: 0;

  }

  .kotak {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;

  }

  .daftar {
    margin: 0;
    padding: 0;
    display: grid;
    width: 100%;

  }

  .pp {
    width: 100px;

  }

  .kotak h4 {
    font-size: 100%;
    font-family: 'Courgette', cursive;

  }

  .p {
    visibility: hidden;
    height: 10px;
  }

  .kotak p img {
    width: 15px;
    margin-right: 7px;
  }

  /* Kotak profil hover */
  .kotak:hover {
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    height: 200px;
    border: 2px solid orange;
    padding-bottom: 40px;
    color: black;
    background-color: orange;
    text-align: center;
  }

  .kotak:hover p {
    margin: 3px auto;
    font-size: 15px;
    visibility: visible;
  }
}

@media (max-width: 530px) {
  .list {
    margin: 0;

  }

  .kotak {
    margin: 0 auto;
    padding: 0;
    width: 70%;
    text-align: center;
    border-radius: 10px;
    color: black;
    transition: all 0.8s ease;
  }

  .pp {
    width: 100px;
    border-radius: 80px;
    transition: all 0.8s ease;
  }

  .kotak h4 {
    font-size: 100%;
    font-family: 'Courgette', cursive;
    color: black;
    opacity: 0.8;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .p {
    visibility: hidden;
    height: 30px;
  }

  .kotak p img {
    width: 17px;
    margin-right: 10px;
  }

  /* Kotak profil hover */
  .kotak:hover {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    height: 200px;
    border: 2px solid orange;
    padding-bottom: 40px;
    color: black;
    background-color: orange;
    text-align: center;
  }

  .kotak:hover h4 {
    font-size: 100%;
    font-family: 'Courgette', cursive;
    color: white;
    opacity: 1;
  }

  .kotak:hover p {
    margin: 3px auto;
    font-size: 15px;
    visibility: visible;
  }

  .kotak:hover img {
    width: 70px;
  }

  .kotak:hover p img {
    width: 10px;
    margin-right: 3px;
    visibility: visible;
  }

}

/* NOTE: INI ABOUT US */
/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
  .image img{
    width: 130px;
  }
  .image{
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 80px;
  }
  .image p{
    line-height: 25px;
  }
  .annisa-image{
    padding-bottom: 150px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .lesson {
    width: 100%;
  }

  footer {
    text-align: center;
  }

  .btn {
    width: 100%;
  }

  .facebook {
    margin-bottom: 10px;
  }

  .top-wrapper {
    text-align: left;
  }
  .header-right{
    display:none;
  }
  .menu-icon{
    display:block !important;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  .image img{
    width: 100px;
  }
  .image{
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 130px;
  }
  .image p{
    line-height: 25px;
  }
  .annisa-image{
    padding-bottom: 260px;
  }
}

@media all and (max-width: 580px) {
  .clear{
    clear: none;
  }
  .image{
    width: 100%;
    padding:10px 20px 10px 30px;
    float: none;
    text-align: center;
  }
  .story{
    width: 100%;
    float: none;
  }
  .image p{
    display: inline-block;
    vertical-align: top;
    padding:5px 0px 0px 0px;
  }
  .image img{
    width: 80px;
    display: inline-block;
    margin-right: 10px;
  }
}
